@font-face {
    font-family: "Rubik";
    src: url(fonts/rubik/rubik-400.woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url(fonts/rubik/rubik-700.woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url(fonts/rubik/rubik-800.woff2);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    src: url(fonts/raleway/raleway-800.woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body { 
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Rubik";
    font-size: 18px;
    line-height: 30px;
    font-size: normal;
    background-color: #fff;
    color: #000;
    min-height: 100vh;
}


.header-wrapper {
    background-color: #FFE17F;
    width: 1175px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper-1 {
    display: flex;
    justify-content: space-between;
    width: 1075px;

}

.wrapper-2 {
    width: 1041px;
    margin-top: 29px;
    margin-right: 59px;
    margin-left: auto;
}

.kopter-number {
    width: 250px;
    margin: 0;
}

.kopter-photo {
    display: flex;
    width: 560px;
}

.navigation-list {
    margin: 0;
    padding: 0;
}

.search {
    width: 516px;
    margin-right: 24px;
}

.search-button {
    background: url(img/search.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}


.main-container {
    flex-grow: 1;
}

.main-wrapper {
    min-width: 1160px;
    margin: 0 auto;
}

.kopter {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.kopter-information {
    width: 560px;
}

.goods {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
}

.goods-wrapper {
    width: 160px;
}


.login {
    width: 535px;
}

.login-link, .diagramm-link, .bag-link {
    font-size: 16px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal;
    color: #000;
    text-decoration: none;
}

.heading {
    width: 293px;
    margin-right: 247px;
}

.header-heading { 
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.navigation-wrapper {
    width: 501px;
}

.navigation-list {
    list-style: none;

}

.navigation-item { 
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.navigation-link { 
    text-decoration: none;
    color: #000;
}

.navigation {
    display: flex;
}

.composition {
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #fff;
}

.information-heading {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px
}
.information-paragraph {
    color:#444;
}

.flying-height b, .flying-leinght b { 
    font-size: 36px;
    line-height: 30px;
    font-weight: normal;
}

.flying-paragraph {
    font-size: 16px;
    color: #444;
}

.virtual-paragraph {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.service-heading, .about-us-heading, .contacts-main-heading, .follow-heading {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}


.service-paragraph, .about-us-paragraph, .contacts-paragraph, .location-paragraph, .tel, .follow-paragraph{
    color:#444;
}

.service-addition-paragraph {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

}

.service {
    background-color: #F0F0F0;
}

.flex-container {
    display: flex;

}

.service-description {
    width: 760px;
}

.service-addition {
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 90px;
}

.index-columns {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin: 0 auto;
    margin-top: 97px;
}


.about-us {
    width: 560px;
}

.contacts {
    width: 560px;
}

.transport-company-link {
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.location-heading, .time-work-heading {
    font-size: 24px;
    color: #444444;
    font-weight: 700;
}

.time-work-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.time-work-item {
    color:#444444;
}

.follow {
    background-color: #F0F0F0;
}

.follow-wrapper {
    width: 1160px;
    margin: 0 auto;

}

.main-footer {
    background-color: #444;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 1160px;
    margin: 0 auto;
}
.footer-logo-2 {
    margin: 0;
}

.footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 49px;
}
.footer-logo {

    max-width: 1160px;
}

.social-wrapper {
    display: flex;
    justify-content: space-between;
}


.footer-info {
    color: white;
    font-size: 16px;
    line-height: 19px;
    width: 238px;
    font-weight: 400;
    margin-right: 114px;
}

.footer-list, .social-list {
    list-style: none;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 458px;
    margin: 0;
    padding: 0;
}

.footer-item {
    width: 148px;
}

.footer-link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    font-family: "Raleway";
    font-weight: 800;
    text-decoration: none;
}
.page-header {
    width: 1160px;
    margin: 0 auto;
}

.footer-tel {
    font-size: 16px;
    color: white;
    margin: 0;

}

.footer-telephone {
    width: 293px;
    margin-left: 58px;
    text-align: end;
}

.footer-composition {
    width: 80px;
}

.social-list {
    display: flex;
    width: 149px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.social-item {
    width: 40px;
}

.htmlacademy {
    width: 115px;
}

.wrapper { 
    width: 1440px;
}

.time-work-link {
    color: #000;
    font-family: Raleway;
    font-weight: 800;
    line-height: 21px;
    text-decoration: none;
    background-color: #FFE17F;
}

.button {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    background-color: #FFE17F;
}

.button-current {
    font-family: Raleway;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    background-color: #000;
    color: #FFE17F;
}

.sorting-container {
    background-color: #EBEBEB;

}

.label-heading {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.product-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #000;
}

.price {
    width: 207px;
}

.choose-color {
    width: 207px;
}

.bluetooth-choose {
    width: 207px;
}

.product-card-price {
    line-height: 21px;
}

.product-card-link {
    text-decoration: none;
}

.pagination-item {
    color: #444444;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
}

.pagination-container {
    background-color: #EBEBEB;
}

.pagination {
    list-style: none;
}

.pagination-link-number {
    color: #444444;
}



.index, .catalog, .monopods {
    font-size: 16px;
    line-height: 19px;
    color: #444;
    text-decoration: none;
}

.monopods-heading {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}

.filters-heading {
    font-family: Raleway;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;

}

.catalog-filter {
    background: #f0f0f0;
    height: 100%;
}

.catalog-filter::before {
    content: " ";
    position: absolute;
    width: calc((100vw - 1160px)/2);
    background: #f0f0f0;
    height: 2176px;
    left: 0;
}

.catalog-filter-title {
    font-weight: 700;
    line-height: 20px;
}


.color-label, .bluetooth-label {
    font-size: 16px;
    line-height: 19px;
}

.next, .back {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: #000;
}

.addition-container {
    background-color: #EBEBEB;
    height: auto;
}

.filters-container::before {
    position: absolute;
    content:" ";
    background: #dcdcdc;
    width: calc((100vw - 1160px)/ 2);
    height: 18.5px;
    left: 0;
}

.filters-heading {
    background: #dcdcdc;
}


.flex-columns {
    display: flex;
    width: 1160px;
    margin: 0 auto;
}








.inner-header {
    width: 1160px;
    margin: 0 auto;
}
.main-inner {
    flex-grow: 1;
}


.name, .logout-link {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.logout-link {
    opacity: 0.3;
}
